body {
    
}

#title{
    font-size: 25px;
    border-bottom: medium;
    border-bottom-color: #FF0000;
    border-bottom-width: thick;
    margin-bottom: 20px;
}


#DinoImage{
    height:100px;
    width:100px;
}

#DinoCardDiv{
    width:120px;
    height:150px;
    border-style:solid;
}